<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="background-main">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Projects</ion-title>
        <ion-buttons slot="end">
            <ion-button class="underline--magical" href="https://github.com/MrJaC">
                <ion-icon name="logo-github">
                </ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="background-main">
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <h1>Latest Projects</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding-end">
            <ion-col size="auto" size-md="6" *ngFor="let item of data">
                <ion-card class="hover-title" button="true" (click)="presentProject(item.id, item.title)">
                    <ion-card-content class="ion-no-padding ion-no-margin">
                        <ion-img [src]="item.mainImage"></ion-img>
                        <div class="hover-info">
                            <h4>Title</h4>
                            <h6>Subtitle</h6>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>