<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="tertiary">Projects</ion-title>
        <ion-buttons slot="end">
            <ion-button class="underline--magical" href="https://github.com/MrJaC">
                <ion-icon name="logo-github">
                </ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
            <ion-button routerLink="/contact" class="underline--magical">
                <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <h1>Latest Projects</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">

                <!-- Filter buttons -->
                <!-- End Filter Buttons -->
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding-end">
            <ion-col size="auto" size-md="6" *ngFor="let item of items">
                <div class="title ion-padding-start">
                    {{item.title}} | {{ item.type}}
                </div>
                <ion-card class="hover-title" button="true" (click)="presentProject(item.id, item.title)">
                    <ion-card-content class="ion-no-padding ion-no-margin">
                        <div class="hover-img">
                            <ion-img [src]="item.mainImage"></ion-img>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>