.project-header {
    color: black;
    font-size: 1.8em;
}

.project-type {
    color: black;
}

.header-image-project,
ion-img {
    height: 360px;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: auto;
}