.project-header {
    color: black;
    font-size: 1.8em;
}

.project-type {
    color: black;
}

.header-image-project,
ion-img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 420px;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    //position: 50% 50%;
}

#sec-2 {
    width: 100%;
    height: 400px;
    max-height: 100%;
    background-color: #2c3e50;
}

#sec-3 {
    width: 100%;
    height: 400px;
    max-height: 100%;
    background-color: #34495e;
}

@media ( max-width: 576px) {
    .header-image-project,
    ion-img {
        height: 220px;
        max-height: 100%;
        object-fit: auto;
    }
}