<ion-header [translucent]="true" class="ion-no-border">

    <ion-toolbar color="background-main">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Project: {{ title }}</ion-title>
        <ion-buttons slot="end">
            <ion-button class="underline--magical" href="https://github.com/MrJaC">
                <ion-icon name="logo-github">
                </ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div *ngFor="let item of projectData">

        <ion-row class="ion-no-padding ion-no-margin">
            <ion-col class="ion-no-padding ion-no-margin">
                <ion-img [src]="item.mainImage"></ion-img>
            </ion-col>
        </ion-row>
        <ion-grid>


            <ion-row>
                <!--Title-->
                <ion-col>
                    <h3 class="project-header"> {{ item.title }}</h3>
                </ion-col>
                <!--Type-->
                <ion-col>
                    <h4 class="project-type"> {{ item.type }}</h4>
                </ion-col>
            </ion-row>
            <!-- Main Description -->
            <ion-row>
                <ion-col>
                    {{ item.description}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-button href="">

                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>