<ion-header [translucent]="true" class="ion-no-border">

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Project: {{ title }}</ion-title>
        <ion-buttons slot="end">
            <ion-button class="underline--magical" href="https://github.com/MrJaC">
                <ion-icon name="logo-github">
                </ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
            <ion-button routerLink="/contact" class="underline--magical">
                <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <div *ngFor="let item of projectData" color="primary">

        <ion-row class="ion-no-padding ion-no-margin" color="primary">
            <ion-col class="ion-no-padding ion-no-margin">
                <div class="header-image-project">
                    <ion-img [src]="item.mainImage"></ion-img>
                </div>
            </ion-col>
        </ion-row>
        <ion-grid class="ion-no-padding">


            <!-- Main Description -->
            <section id="sec-2">
                <ion-row class="ion-align-items-center ion-text-center">
                    <!--Title-->
                    <ion-col>
                        <h3 class="project-header"> {{ item.title }}</h3>
                    </ion-col>
                    <!--Type-->
                    <ion-col>
                        <h4 class="project-type"> {{ item.type }}</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        {{ item.description}}
                    </ion-col>
                </ion-row>
            </section>
            <section id="sec-3">

            </section>

        </ion-grid>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col>

                <ion-button href="">

                </ion-button>


            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>