<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact</ion-title>
        <ion-buttons slot="end">
            <ion-button href="https://github.com/MrJaC">
                <ion-icon name="logo-github">
                </ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <!-- Email -->
                    <ion-label position="fixed">Your Email</ion-label>
                    <ion-input autocomplete="email"></ion-input>
                </ion-item>
                <ion-item>
                    <!-- Name -->
                    <ion-label position="fixed">Your Name</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="fixed">Your Message</ion-label>
                    <ion-textarea></ion-textarea>
                </ion-item>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>