<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact</ion-title>
        <ion-buttons slot="end">
            <ion-button class="underline--magical" href="https://github.com/MrJaC">
                <ion-icon name="logo-github">
                </ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
            <ion-button class="underline--magical">
                <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="primary">

    <ion-grid>
        <div id="section-contact">
            <ion-row>
                <ion-col>
                    <h2>Contact me!</h2>
                </ion-col>
            </ion-row>
            <ion-row class="ion-margin ion-justify-content-center">
                <ion-col size="auto">
                    <ion-item class="form-style">
                        <!-- Email -->
                        <ion-label position="stacked">Your Email</ion-label>
                        <ion-input autocomplete="email" type="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-margin ion-justify-content-center">
                <ion-col size="auto">
                    <ion-item class="form-style">
                        <!-- Name -->
                        <ion-label position="stacked">Your Name</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-margin ion-justify-content-center">
                <ion-col size="auto">
                    <ion-item class="form-style">
                        <ion-label position="stacked">Your Message</ion-label>
                        <ion-textarea></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-margin ion-justify-content-center">
                <ion-col size="auto">

                    <ion-button size="medium" color="light" class="ion-float-end form-style-button">
                        Send
                    </ion-button>

                </ion-col>
            </ion-row>
        </div>
    </ion-grid>

</ion-content>