/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
    font-family: 'FredokaOne-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('assets/webfonts/FredokaOne-Regular.ttf');
}

.underline--magical {
    background-image: linear-gradient(45deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 100% 100%;
    transition: background-size 0.25s ease-in;
    &:hover {
        background-size: 100% 100%;
        color: white;
    }
}

ion-toolbar {
    font-size: 1.5rem;
    min-height: 20px;
    font-variant-caps: all-petite-caps;
}

h1,
h2,
h3,
h4,
h5 {
    color: white;
    font-variant-caps: all-petite-caps;
}