<ion-header [translucent]="true" class="ion-no-border" color="primary">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
        <ion-buttons slot="end">
            <ion-button class="underline--magical" href="https://github.com/MrJaC">
                <ion-icon name="logo-github">

                </ion-icon>
            </ion-button>
            <ion-button href="#" class="underline--magical">
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-button>
            <ion-button href="#" class="underline--magical">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
            <ion-button routerLink="/contact" class="underline--magical">
                <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">

    <ion-grid class="ion-padding">
        <div id="container">
            <div id="main-content">

                <div>
                    <p>I am a <span class="">full stack developer</span> who has experience in the full development of software applications from start to finish.</p>
                </div>
                <p> I perform requirements gathering, estimating, software development, milestone reviews, testing and delivery to backend host platforms and to the Apple and Google App Stores.</p>
                <p> In all my apps and websites I have worked closely with the clients to ensure they get a good product that meets their expectations.</p>


            </div>
        </div>

    </ion-grid>
</ion-content>